p2/Q7-DTD.dtd

<!ELEMENT mot (#PCDATA)>
<!ELEMENT console (mot)+>
<!ELEMENT glossaire (console)+>
<!ELEMENT tableConsoles (glossaire*)>
<!ATTLIST mot def (nom | dateDeSortie | impactEnvironemental) #REQUIRED>
<!ATTLIST glossaire auteur CDATA #IMPLIED>
<!ATTLIST glossaire type (salon | portable | hybride) #REQUIRED>